.custom-input {
  width: 18vw;
}
.passw-eye-btn {
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
}
.password-icon {
  position: relative;
  top: -29px;
  left: 434px;
  cursor: pointer;
}

.custom-label-color {
  color: #6c757d;
}
