img {
  height: 7vh;
}
.desktop-container {
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: inherit
}

.nav-btn {
  background: inherit;
  border: none;
  color: inherit;
  font: inherit
}
.nav-btn:hover {
  background-color: var(--border-color-grass-green);
}

.active {
  background-color: var(--border-color-grass-green);
  color: var(--text-color-white);
  border-radius: 5px;
  padding: 10px 5px;
}
:host::ng-deep.p-dropdown, :host::ng-deep.p-dropdown:not(.p-disabled).p-focus {
  background-color: inherit;
  border: none;
  box-shadow: none;
}

:host::ng-deep.pi-bell:before {
  margin-right: 3rem;
}
:host::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: none;
  margin-bottom: -1rem;
}

